<header class="header">
  <div *ngIf="showPasswordResetMessage" class="password-reset-message">
    <span>You are yet to reset your password.</span>
    <div>
      <button (click)="resetPassword()" class="reset-now-btn">Reset Now</button>
      <button (click)="cancelResetPassword()" class="cancel-btn">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="header-left">
    <!-- Hamburger Icon -->
    <button (click)="toggleSidebar()" class="hamburger-menu">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
        <path fill-rule="evenodd" d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z" clip-rule="evenodd" />
      </svg>
    </button>

    <!-- Logo & Title -->
    <div class="logo-title">
      <span class="logo">
        <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 4H17.3334V17.3334H30.6666V30.6666H44V44H4V4Z" fill="currentColor" />
        </svg>
      </span>
      <h2>InternHub</h2>
    </div>
    <!-- Navigation -->

    <!-- @if (userRole === 'admin') {

      <a [routerLink]="['/interns']">interns</a>


      <a [routerLink]="['/profile']">profile</a>

      <a [routerLink]="['/attendances']">attendances</a>

    }
    @if (userRole === 'intern') {
      <a [routerLink]="['/attendances']">attendances</a>
 
    } -->
  </div>
  <div class="header-right">
    <div class="flex items-center gap-4">
      @if (userRole === 'intern') {
        <button
          (click)="toggleClockIn()"
          [disabled]="isClockedIn"
          class="clock-in-button"
          [title]="isClockedIn ? 'Clocked in at ' + clockInTime : ''"
        >
          {{ isClockedIn ? 'Clocked-in' : 'Clock-in' }}
        </button>
      }
      <div class="profile-dropdown">
      @if (intern?.profileImageUrl) {
        <img [src]="intern?.profileImageUrl" class="w-10 h-10 rounded-full cursor-pointer" (click)="showImagePopup()">
      } @else {
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
          class="w-10 h-10 rounded-full cursor-pointer text-gray-400">
          <path fill-rule="evenodd"
            d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
            clip-rule="evenodd" />
        </svg>
      }
      <div class="profile-card">
        <div class="username">{{ intern?.name }}</div>
        <button (click)="viewProfile()">View Profile</button>
        <button (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
